_ASSETS/Screen-records/IC-Docs records.prproj
_ASSETS/Screen-records/Adobe Premiere Pro Auto-Save/IC-Docs records-2025-04-08_17-29-58.prproj
_ASSETS/Screen-records/Adobe Premiere Pro Auto-Save/IC-Docs records.prproj
.DS_Store
